body{ background-image: linear-gradient(45deg, green, black, green);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;}

header{ color: white;}

main{display: flex;
     justify-content: start;
     margin: 20px;
     justify-content: space-around;
}

img{ width: 470px; 
     height: 470px;
     border: solid 5px white;
     border-radius: 10px;
}

.Galeria2{
      display: inline;
      justify-content: space-around;}

h2{ color: white;}
