<!DOCTYPE html>
<html lang="pt_Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESTAURANTE FINO SABOR </title>
    <link rel="stylesheet" href="/static/cardapio.css">

</head>

<body>       
        <header>
            <div class="Titulo">
                <h1>RESTAURANTE FINO SABOR</h1>    
            </div>  
        </header>   
        
        <nav>
            <a href="/cardapio/reservas"><h3>| RESERVAS |</h3></a>
            <a href="/cardapio/contatos"><h3>| CONTATOS |</h3></a>
            <a href="/cardapio/localizacao"><h3>| LOCALIZAÇÃO |</h3></a>
       </nav>  

        <div class='Galeria'>
           <div class="Foto">
              <img src="/static/restaurante.jpg" alt="" srcset="" > 
           </div>
        </div>
        
        <div class="Botoes">  
           
            <button><a href="/cardapio/pizza">PIZZA</a></button>
            <button><a href="/cardapio/hamburguer">HAMBURGUER</a></button>

        </div>
    
</body>
</html>