<!DOCTYPE html>
<html lang="pr-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Contatos</title>
    <link rel="stylesheet" href="/static/contatos.css">
</head>
<body>
       <header>
            <h1>CONTATOS : </h1>
       </header>
    
       <main>
            <div class="Box1">
                <img src="/static/fa.jpg" alt="" srcset="">
            </div>

            <div class="Box2">
               
                <h1>DESENVOLVEDOR DO PROJETO</h1>

                <h2>Fabricio Paim de Oliveira Picorelli</h2>
                <h2>Desenvolvedor FullStack</h2>
                <h2>Telefone : 71 99166-3852</h2>
                <h2>Email : fabricio001devenloper@gmail.com</h2>
            </div>

       </main>

           <h1>CANAIS DIGITAIS : </h1>
       
           <footer>
            
            <div class="Linkedin">
               <a href="https://www.linkedin.com/in/fabricio-paim-569374225/"><img src="/static/linkedin.png" alt="Linkedin"></a>

            </div>

            <div class="GuitHub">
                  <a href="https://github.com/picorelli1979"><img src="/static/guitbuh.png" alt="Guithub"></a>

            </div>

            <div class="Twiter">
                
               <a href="https://twitter.com/FabricioCatel"><img src="/static/twiter.png" alt="Twiter"></a>
            </div>

            <div class="Facebook">
                
                <a href="https://www.facebook.com/profile.php?id=100007235895211"><img src="/static/facebook.jpg" alt="Facebook"></a>
            </div>

            <div class="Instagram">
                
                <a href="https://www.instagram.com/fabricio_paim001/"><img src="/static/instagram.avif" alt="Instagram"></a>
            </div>
       </footer>
    
</body>
</html>