<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HAMBURGUER</title>
    <link rel="stylesheet" href="/static/hamburguer.css">

</head>
<body>
         <h1>HAMBURGUER TRADICIONAIS</h1>

         <div class="Galeria">
      
              <div class="Container_Pizza">
                  <h2>CHEDAS-BURGUER</h2>
                    <img src="/static/fotos-para-hamburguerias_fotografia-de-hamburguer-4.jpg" alt="Chedas-Burguer" >
              </div>
              
              <div class="Container_Pizza">
                  <h2>X-BURGUER</h2>
                    <img src="/static/hamburguer.avif" alt="X-Burguer" >
              </div>
            
              
              <div class="Container_Pizza">
                  <h2>DUPLO-BURGUER</h2>
                     <img src="/static/hamburguer.jpg" alt="Duplo-Burguer">
              </div>
        
        </div>
        
        <div class="Galeria_Butoes">
            <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
            <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
            <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
        </div>



        <div class="Galeria">
      
         <div class="Container_Pizza">
             <h2>X-BACON & BATATA</h2>
               <img src="/static/Xbacon com Batata.jpg" alt="X-Bacon e Batatas" >
         </div>
         
         <div class="Container_Pizza">
             <h2>X-TUDÃO</h2>
               <img src="/static/X-TUDÂO.jpg" alt="X-Tudão" >
         </div>
       
         
         <div class="Container_Pizza">
             <h2>HAMBURGUER SIMPLES</h2>
                <img src="/static/SUPER TUDO.jpg" alt="Hamburguer Simples">
         </div>
   
   </div>
   
   <div class="Galeria_Butoes">
      <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
      <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
      <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
   </div>
    
</body>
</html>