<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de Localização</title>
    <link rel="stylesheet" href="/static/localização.css">
</head>
<body>
      <header>
         <h1>NOSSA LOCALIZAÇÃO :</h1>
      </header>

      <main>
         <div class="Galeria">
              <img src="/static/WhatsApp Image 2023-09-19 at 14.17.33.jpeg" alt="" srcset="">       
        </div>

        <div class="Galeria2">
               <h2>Avenida Pinto de Aguiar </h2>
               <h2>Proximo á Escola Marista</h2>
               <h2>Patamares - CEP - 44.500-300</h2>
               <h2>Telefone (71) 3427-7000</h2>
        </div>

      </main>


    
</body>
</html>