<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedido Finalizado</title>
    <link rel="stylesheet" href="/static/pagina_final.css">
</head>
<body>
        <header>
            <h1>SEU PEDIDO FOI RELIZADO COM SUCESSO !!!!</h1>
        </header>
        <main>
            <div class="Galeria1">

                    <h2>SEU PEDIDO JÁ ESTA A CAMINHO .....</h2>
                    <h2> AGORA BASTA SÓ AGUARDAR</h2>

            </div>


            <div class="Galeria2">
                    <div class="Personagens">
                        <img src="/static/entregador 1.webp" alt="" srcset="">
                    </div>

            </div>
        </main>

    
</body>
</html>