<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PIZZA</title>
    <link rel="stylesheet" href="/static/pizza.css">

</head>
<body>
       <h1>PIZZAS TRADICIONAIS</h1>

       <div class="Galeria">
    
            <div class="Container_Pizza">
                <h2>CALABRESA</h2>
                  <img src="/static/Pizza-de-calabresa.jpg" alt="Pizza_Calabresa" >
            </div>
            
            <div class="Container_Pizza">
                <h2>MARGUERITA</h2>
                  <img src="/static/pizza.jpg" alt="Pizza_Marguerita" >
            </div>
          
            
            <div class="Container_Pizza">
                <h2>ATUM</h2>
                   <img src="/static/pizza-de-liquidificador-de-atum.jpg" alt="Pizza_Atum">
            </div>
      
      </div>
      
      <div class="Galeria_Butoes" id="Carregar">
            <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
            <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
            <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
      </div>

      <div class="Galeria">
    
            <div class="Container_Pizza">
                <h2>MUSSARELA</h2>
                  <img src="/static/Mussarela.jpg" alt="Pizza_Mussarela" >
            </div>
            
            <div class="Container_Pizza">
                <h2>BACON</h2>
                  <img src="/static/bacon.jpg" alt="Pizza_Bacon" >
            </div>
          
            
            <div class="Container_Pizza">
                <h2>FRANGO & CHEDAR</h2>
                   <img src="/static/pizza-de-frango-1.jpg" alt="Pizza_Frango">
            </div>
      
      </div>
      
      <div class="Galeria_Butoes" id="Carregar">
            <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
            <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
            <button><a href="/cardapio/pedido">FAÇA SEU PEDIDO</a></button>
      </div>


      <script src="inter.js">Inter</script>

</body>
</html>