<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas</title>
    <link rel="stylesheet" href="/static/reservas.css">
</head>
<body>
      <header>
         <h1>FAÇA SUA RESERVA : </h1>
      </header>  
        
      <main>
          <div class="Galeria">
               <label for="">NOME DA RESERVA:</label> 
               <input type="text"> <br>
               <label for="">QUANTIDADE DE PESSOAS:</label> 
               <input type="text"> <br> 
               <label for="">QUAL O PERIODO:</label><br>
               <label for="">TARDE</label>
               <input type="radio" name="" id="">
               <label for="">NOITE</label>
               <input type="radio" name="" id=""> <br>
               <label for="">ESCOLHA A DATA:</label> <br>
               <input type="date" name="" id="">
          </div>
      </main>
       
      <button onclick="Carregar()">FAZER RESERVA</button>

      <script>
         function Carregar(){
           alert('PEDIDO REALIZADO COM SUCESSO !!!!')
        }

      </script>
    
</body>
</html>